<div class="h-screen flex flex-col justify-center items-center space-y-7">
  <div class="text-4xl font-extralight">
    Welcome to Maqalaat website
  </div>
  <div class="text-2xl font-light">
    We will update it as soon as possible
  </div>
  <div class="text-sm font-bold">
    created by ZAHID
  </div>
</div>
