<div class="min-h-screen bg-slate-200 flex flex-col justify-around items-center">
  <div class="mb-16 md:grid md:grid-cols-2 md:gap-7">
    <div class="h-96 px-4 py-3 flex flex-col justify-center items-center shadow-xl rounded-lg">
      <div class="text-2xl md:text-4xl text-gray-600 font-extralight">
        Welcome to Maqalaat website
      </div>
      <div class="text-xl md:text-2xl text-gray-500 font-extralight md:font_light">
        We will update it as soon as possible
      </div>
      <div class="text-sm text-gray-500 font-semibold md:font-bold">
        created by ZAHID
      </div>
    </div>
    <div class="md:ml-32 flex flex-col justify-center items-center space-y-7">
      <div class="md:h-52 px-8 py-3 shadow-xl rounded-lg">
        <h1 class="text-lg text-gray-600 font-semibold">Authors</h1>
        <ul class="text-gray-500 list-disc">
          <li>One of the many authors</li>
          <li>Second of the many authors</li>
          <li>Third of the many authors</li>
        </ul>
      </div>
      <div class="md:h-52 px-8 py-3 shadow-xl rounded-lg">
        <h1 class="text-lg text-gray-600 font-semibold">Articles</h1>
        <ul class="text-gray-500 list-disc">
          <li>One of the many articles</li>
          <li>Second of the many articles</li>
          <li>Third of the many articles</li>
        </ul>
      </div>
    </div>
  </div>
</div>
