<div class="min-h-screen flex flex-col justify-around items-center">
  <div class="mb-16 md:grid md:grid-cols-2 md:gap-7">
    <div class="flex flex-col justify-center items-center">
      <div class="text-3xl text-white md:text-6xl font-extralight">
        iShareThoughts
      </div>
      <div class="text-sm md:text-xl pt-3 text-gray-50 font-extralight">
        Think aloud. Share your thoughts.
      </div>
    </div>
    <div class="max-w-96 h-auto mt-8 md:mt-0 flex flex-col justify-center items-center space-y-4">
      <h1 class="text-sm md:text-xl text-gray-50 font-light shadow-xl">Latest Articles</h1>
      <div class="w-5/6 lg:w-full px-4 py-2 bg-slate-200 text-gray-500 rounded-lg shadow-xl flex justify-start items-baseline space-x-3">
        <h1 class="text-sm font-bold">Zahid Khan</h1>
        <h2 class="text-sm">How a programmer should think?</h2>
      </div>
      <div class="w-5/6 lg:w-full px-4 py-2 bg-slate-200 text-gray-500 rounded-lg shadow-xl flex justify-start items-baseline space-x-3">
        <h1 class="text-sm font-bold">Shujaat</h1>
        <h2 class="text-sm">Anthropology</h2>
      </div>
      <div class="w-5/6 lg:w-full px-4 py-2 bg-slate-200 text-gray-500 rounded-lg shadow-xl flex justify-start items-baseline space-x-3">
        <h1 class="text-sm font-bold">John</h1>
        <h2 class="text-sm">Nonenity</h2>
      </div>
      <div class="w-5/6 lg:w-full px-4 py-2 bg-slate-200 text-gray-500 rounded-lg shadow-xl flex justify-start items-baseline space-x-3">
        <h1 class="text-sm font-bold">Syed Husain</h1>
        <h2 class="text-sm">موجود بما هو موجود</h2>
      </div>
      <div class="w-5/6 lg:w-full px-4 py-2 bg-slate-200 text-gray-500 rounded-lg shadow-xl flex justify-start items-baseline space-x-3">
        <h1 class="text-sm font-bold">Sheikh Alim</h1>
        <h2 class="text-sm">Friendship</h2>
      </div>
      <div class="w-5/6 lg:w-full px-4 py-2 bg-blue-500 text-gray-50 rounded-lg shadow-xl flex justify-center items-center">
        Share your thought
      </div>
    </div>
  </div>
</div>
