<span class="text-gray-50 bg-gray-800 opacity-75">
  <% unless thoughts.empty? %>
    <%= thoughts.count %>
  <% end %>
</span>
<% thoughts.each do |thought| %>
  <br>
  <%= link_to thought, class: "text-gray-50 bg-gray-800 opacity-75 px-2 py-1 rounded" do %>
    <%= highlight(thought.title, params.dig(:title_search)) %>
  <% end %>
<% end %>
  