<span class="text-gray-700 text-blue-700 font-bold">
  <% unless thoughts.empty? %>
    results found:  <%= thoughts.count %>
  <% end %>
</span>
<% thoughts.each do |thought| %>
  <br>
  <%= link_to thought, class: "text-gray-700 px-2 font-bold" do %>
    <i class="fas fa-link"></i> <%= highlight(thought.title, params.dig(:title_search)) %>
  <% end %>
<% end %>
  