<%= turbo_stream.update(dom_id(@thought)) do %>
  <div class="px-4 py-2 text-sm text-green-700 text-3xl flex justify-center items-center animate__animated animate__flipInX">
    <i class="fas fa-check"></i>
  </div>
<% end %>