<% provide(:title, @thought.title) %>

<div class="min-h-screen w-screen">
  <div class="py-8 md:pl-48 flex flex-col items-start space-y-2">
    <div class="w-full md:w-5/6 px-2 py-1 text-gray-700 antialiased">
      <div class="px-2 py-1 text-gray-50 bg-gray-800 opacity-75 rounded-t">
        <%= link_to @thought.user.name, user_path(@thought.user)%>
      </div>
      <div class="px-2 py-1 text-gray-50 bg-gray-800 border-t-2 border-orange-300 opacity-75">
        <%= @thought.title %>
      </div>
      <div class="py-2 px-2"><%= @thought.content %></div>
      <% if current_user == @thought.user %>
        <%= link_to edit_user_thought_url(@thought.user, @thought), class: "px-3 py-2 bg-green-600 text-lg text-gray-50 rounded-lg hover:bg-green-700" do %>
          Edit
        <% end %>
      <% end %>
    </div>
  </div>
</div>
