<div class="w-full h-16 bg-slate-200 flex justify-around items-center shadow-xl space-x-7 sticky top-0">
  <%=link_to root_path, class: "text-2xl font-light text-slate-600 hover:font-semibold" do %>
    Maqalaat
  <% end %>
  <div class="flex justify-center items-center">
    <div class="bg-slate-200 px-2 py-1 rounded-lg text-slate-600 hover:bg-slate-600 hover:text-slate-200">
      Register
    </div>
    <div class="bg-slate-200 px-2 py-1 rounded-lg text-slate-600 hover:bg-slate-600 hover:text-slate-200">
      Sign in
    </div>
  </div>
</div>
